<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222190078710-sql1bpvupke9j6knnma5ngm8ia8i2ptm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222190078710-sql1bpvupke9j6knnma5ngm8ia8i2ptm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>222190078710-da403ljjoh74bei81fnh4ao15kq8peiq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDopYZdMaMD8-war-y-Qr5b0VVl7JM9XyA</string>
	<key>GCM_SENDER_ID</key>
	<string>222190078710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.auribises.expensetracking</string>
	<key>PROJECT_ID</key>
	<string>expensetracker-world</string>
	<key>STORAGE_BUCKET</key>
	<string>expensetracker-world.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:222190078710:ios:347b5b936b7a0a70557ad7</string>
</dict>
</plist>
